<% if (theme.colorSwitch.enable) { %>
    <div class="tools-bar-item theme-icon" id="switch-show-sakura">
      <a href="javascript: void(0)">
        <i id="backgroud-icon" class="iconfont icon-flower"></i>
      </a>
    </div>

    <%- js(['/js/sakura.js']) %>

<% } %>
